# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.env

# SQLite local (solo test)
backend/*.sqlite
backend/*.sqlite3
backend/*.db

# Node
node_modules/
dist/
.DS_Store

# Logs
*.log
npm-debug.log*

# IDEs
.idea/
.vscode/
